#menu ul {
  font-size: large;
  height: 20px;
  margin: 0px;
  padding: 0px;
  border-left: 1px solid #ccc;

  li {
    float: left;
    width: 8em;
    height: 100%;
    margin: 0px;
    padding: 0px;
    border: 1px solid #ccc;
    text-align: center;
    background-color: #D5FFDF;
    list-style-type: none;

    a {
      display: block;
      width: 100%;
      height: 50%;
      padding: 6px 0;
      line-height: 2px;
      border-bottom:0px solid #646871;
      text-decoration: none;
      text-align: center;
      color: #000;
    }

    a:visited {
      padding: 6px 0;
    }

    a:hover, a:focus {
      background: #D5DFFF;
      padding: 6px 0;
      color: #ccc;
    }

    a:active {
      padding: 6px 0;
      color: red;
    }
  }
  li.selected_server {
    font-style: italic;
    background-color: lavender;
  }
}

/* Micro clearfix */
.cf {
  zoom: 1;
}

.cf:before, .cf:after {
  content: "";
  display: table;
}

.cf:after {
  clear: both;
}