// Place all the styles related to the posters controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	overflow: hidden;
}

.category {
	width: 30px;
	text-align: center;
}

.title {
	width: 250px;
}

.contributor {
	width: 100px;
}

.posted {
	width: 90px;
	text-align: center;
}

.replies {
	text-align: right;
}

#list {
	overflow-y:scroll;
}

// show.html
.id {
	text-align: center;
	width: 55px;
}
.main_title {
	width: 400px;
}
.category {
	text-align: center;
	width: 40px;
}

#title {
	font-weight: bold;
	background-color: lavender;
}
.header {
	background-color: gainsboro;
}

table {
	border: solid 2px black;
	td {
		border: solid 2px black;
	}
}

.reply_title {
	width: 300px;
}
.reply_posted {
	width: 140px;
}

#clear {
	display: inline;
}